.section-trainers {

}

.section-trainers__container {
    width: 1380px;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.section-trainers__title {
    display: none;
}

.section-trainers__list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    @media (max-width: 767px) {
        grid-template-columns: repeat(1,1fr);
        row-gap: calc-vw-px(767, 80px, 20px);
    }
}

.section-trainers__item {
    &:nth-child(even) {
        margin-left: -10px;
        .section-trainers__photo {
            margin: 0 0 46px auto;
        }
        .section-trainers__info {
            border-right: none;
            border-left: 10px solid $clrBlue;
        }
        .section-trainers__info-wrapper {
            margin: 0 0 0 auto;
        }
    }
}

.section-trainers__photo {
    display: block;
    position: relative;
    width: calc-vw-px(1920, 550px, 160px);
    height: calc-vw-px(1920, 550px, 160px);
    border-radius: 50%;
    background: #D4D4D4;
    margin-bottom: 46px;
    @media (max-width: 767px) {
        margin: 0 auto 26px!important;
    }
    &::before {
        content: '';
        width: 110%;
        height: 110%;
        background: url(../img/img-brush_stroke.png) center no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .2;
        z-index: -1;
    }
}

.section-trainers__info {
    border-top: 10px solid $clrBlue;
    border-right: 10px solid $clrBlue;
    @media (max-width: 767px) {
        border-top: 6px solid $clrBlue;
        border-right: none!important;
        border-left: none!important;
        max-width: 400px;
        margin: 0 auto;
    }
}

.section-trainers__info-wrapper {
    width: calc-vw-px(1920, 550px, 160px);
    text-align: center;
    text-transform: uppercase;
    color: $clrRed;
    padding: 50px 0 0;
    box-sizing: border-box;
    font-family: "Teko";
    @media (max-width: 767px) {
        padding: 20px 0 0;
        width: 100%;
    }
}

.section-trainers__first-name {
    font-size: calc-vw-px(1920, 62px, 46px);
    line-height: calc-vw-px(1920, 42px, 26px);
    letter-spacing: px-to-vw(1920, 6.5px);
    font-weight: 500;
    margin-bottom: 14px;
}

.section-trainers__last-name {
    font-size: calc-vw-px(1920, 104px, 66px);
    line-height: calc-vw-px(1920, 80px, 46px);
    letter-spacing: px-to-vw(1920, 6.5px);
    font-weight: 600;
    margin-bottom: 6px;
}

.section-trainers__post {
    font-size: calc-vw-px(1920, 44px, 26px);
    letter-spacing: px-to-vw(1920, 4.5px);
    color: $clrBlue;
}